$primary-color: #000000;
$logo-height: 150px;
$logo-width: 150px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
  padding: 0 50px;

  .logo{
    display: flex;
    align-items: center;
            padding-top: 1%;
  }
 

    ul {
      list-style-type: none;
      display: flex;
      gap: 4rem;
        font-size: 24px;

      li {
        a {
          color: $primary-color;
          text-decoration: none;
          font-family: Montserrat, sans-serif;

          &.active {
            text-decoration: underline;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


@media (max-width: 768px) {

    .header {
        padding: 0px;
    }

    .header ul{
    font-size: 15px;
 }
    .header .logo {
        padding-bottom: 0;
        padding-top: 0;
    }
    .logo img {
      width: 100px;
      padding: 0px;
    }

    .about ul {
      flex-direction: row;
      padding-left: 0px;
      align-items: center;
      gap: 1rem;
    padding-top: 15%;
    }
  }

