$bg: black;
$text: white;
$padding-bottom: 1rem;
$shadow: rgba(0, 0, 0, 0.1);

.footer {
  background-color: $bg;
  color: $text;
  padding-bottom: $padding-bottom;
  text-align: center;
  width: 100%;
  box-shadow: 0 -4px 8px $shadow;
  margin-top: -2%;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  text-shadow: 1px 1px 2px $shadow;
  color: white;
  display: block;
}

footer img {
  height: 100px;
  width: 100px;
}

@media (max-width: 480px) {
  .footer p {
    font-size: 0.9rem;
    display: grid;
  }

  footer img {
    height: 70px;
    width: 80px;
  }
}
