.carte {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  height: 350px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 30px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to top, rgb(0 0 0 / 45%), rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}
.liste-cartes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 50px 60px;
  padding: 50px;
  background: #f7f7f7;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 85%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    background: transparent;
    margin: 20px auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.Accueilphoto {
  position: relative;
  height: 223px;
  margin: 20px auto;
  max-width: 90%;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 111px;
    width: 84%;
    margin: 10px auto;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1 {
      color: white;
      font-size: 48px;
      font-weight: 500;
      text-align: center;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      @media (max-width: 768px) {
        font-size: 27px;
        text-align: left;
        width: 100%;
      }
    }
  }
}